<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.log">
  <targets>
    <target xsi:type="File" name="MyLog" fileName="${basedir}/Logs/Alm.log"
                 archiveFileName="${basedir}/archives/Alm.{#}.log"
                 archiveEvery="Day"
                 archiveNumbering="Rolling"
                 maxArchiveFiles="3"
                 enableArchiveFileCompression="false"
                 layout="${longdate}★★★★★${uppercase:${level}}★★★★★${logger}${newline}${message}${newline}"
                 encoding="utf-8" />
    <target xsi:type="Null" name="NullFile" />
  </targets>
  <rules>
    <logger name="Microsoft.*" minlevel="Error" writeTo="NullFile" final="true" />
    <logger name="*" minlevel="Warn" writeTo="MyLog" />
  </rules>
</nlog>